<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% block header %}
<div id="messageAlert" class="alert" style="display: none;"></div>
<div id="message"></div>
<input type="hidden" id="signupUrl" value="{{ url_for('signup') }}">
<input type="hidden" id="loginUrl" value="{{ url_for('login') }}">
<div class="menu-Block--DimensionPosition">
  <header>
    <a href="{{ url_for('home') }}"><img class="logo--Size" src="{{ url_for('static', filename='/images/Logo/Logo.png') }}"></a>
    <div class="navbar">
      <a href="#home" class="navbar__link navbar__link--active">Home</a>
      {% if session['username'] %}
        <span class="navbar__link">Hello, {{ session['username'] }}!</span>
        <a href="{{ url_for('logout') }}" class="navbar__link navbar__link--hover">Logout</a>
      {% else %}
      <a href="{{ url_for('loginPage') }}" class="navbar__link navbar__link--hover">Login</a>
      {% endif %}
    </div>
  </header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</div>
{% endblock %}
