<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/homeMediaQueries.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/homeHeaderToContactForm.css') }}">
{% block header %}
<div id="messageAlert" class="alert" style="display: none;"></div>
<div id="message"></div>
<input type="hidden" id="signupUrl" value="{{ url_for('signup') }}">
<input type="hidden" id="loginUrl" value="{{ url_for('login') }}">
<div class="menu-Block--DimensionPosition">
  <header>
    <img class="logo--Size" src="{{ url_for('static', filename='/images/logo/logo.png') }}">
    <div class="navbar">
      {% if session['adminUsername'] %}
      <span class="navbar__link">Hello, {{ session['adminUsername'] }}!</span>
      <a href="/adminPage">
        <img src="{{ url_for('static', filename='images/icons/gearIcon.png') }}" alt="admin page" style="height:40px;">
      </a>
      {% else %}
      {% if session['username'] %}
      <span class="navbar__link">Hello, {{ session['username'] }}!</span>
      <a href="{{ url_for('logout') }}" class="navbar__link navbar__link--hover">Log out</a>
      <a href="{{ url_for('schedulePage') }}" id="getEntryLink" class="navbar__link navbar__link--hover">Get an
        entry</a>
      {% else %}
      <a href="{{ url_for('loginPage') }}" class="navbar__link navbar__link--hover">Log in</a>
      {% endif %}
      {% endif %}
    </div>
  </header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <input type="hidden" id="isLoggedIn" value="{{ 'true' if session.get('username') else 'false' }}">
  <input type="hidden" id="loginUrl" value="{{ url_for('loginPage') }}">
</div>
{% endblock %}