<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/homeMediaQueries.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/homeHeaderToContactForm.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% block news %}
<div class="blog-section">
  <div class="section-content blog">
    <div id="linkToNews" class="title">
      <h2>blog & news</h2>
      <p>Lets see what happens out there.</p>
    </div>
    <div class="cards img-fluid" id="newsContainer">
    </div>
  </div>
  
</div>

{% if session['adminUsername'] %}
<div id="editNewsModal" class="news-edit-modal">
  
  <div class="news-edit-modal__content">
    <span class="news-edit-modal__close" onclick="closeEditModal()">&times;</span>
    <h4 class="news-edit-modal__title">Edit News</h4>
    <input type="datetime-local" id="editNewsDateTime" class="news-edit-modal__input">
    <input type="text" id="editNewsTitle" class="news-edit-modal__input" placeholder="News Title">
    <textarea id="editNewsContent" class="news-edit-modal__textarea" placeholder="News Content"></textarea>
    <div class="image-section text-center">
      <div class="card mx-auto" style="width: 18rem;">
        <img class="news-image-thumbnail" id="newsImageThumbnail{{newsId}}" src="">
      </div>
      <input type="file" id="editNewsImageInput" style="display: none;" onchange="handleImageUpload()">
      <button onclick="document.getElementById('editNewsImageInput').click()" class="change-image-button btn btn-success mt-3 mx-auto">Choose Image</button>
    </div>

    <button onclick="submitNewsEdit()" class="news-edit-modal__submit">Save</button>
  </div>
</div>
<button id="retrieveNewsButton" onclick="retrieveOneNews()">Retrieve news</button>

{% endif %}
<script type="text/javascript" src="{{url_for('static', filename='js/newsBlock.js')}}"></script>
{% endblock %}

