<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% block news %}
<div class="blog-section">
  <div class="section-content blog">
    <div id="linkToNews" class="title">
      <h2>blog & news</h2>
      <p>Lets see what happens out there.</p>
    </div>
    <div class="cards" id="newsContainer">
    </div>
    <button id="editAllNews" style="display: none;">Editar Todas las Noticias</button>
    <button id="saveAllNews" style="display: none;">Guardar Todas las Noticias</button>    
    <button id="cancelAllNews" style="display: none;">Cancelar Edición</button>


  </div>
</div>

<div id="imageEditModal" class="modal">
  <div class="modal-content">
      <h4>Editar URL de la Imagen</h4>
      <input type="text" id="newImageUrlInput" placeholder="Nueva URL de la imagen">
      <button id="submitImageUrlBtn">Enviar</button>
      <button id="cancelImageUrlBtn">Cancelar</button>
  </div>
</div>

<script type="text/javascript" src="{{url_for('static', filename='js/newsBlock.js')}}"></script>

{% endblock %}