<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/schedulePage.css') }}">
</head>

<body>
  <div class="panel-top"></div>

  <div id="calendar-container">
    <a href="/" class="back-button">
      <img src="{{ url_for('static', filename='images/icons/backButton-icon.png') }}" alt="back" style="height:40px;">
    </a>
    <div id="calendar"></div>
  </div>

  <div class="forms-container">
    <div class="scheduleForm--container">
      <form id="schedule-form">
        <label for="date-entry" class="form-label">Select a date entry</label>
        <input type="date" id="date-entry" name="date" class="form-input" min="2023-11-14">
        <label for="name-entry" class="form-label">Name</label>
        <input type="text" placeholder="Name" id="name-entry" name="name-entry" class="form-input">
        <label for="last-name-entry" class="form-label">Last name</label>
        <input type="text" placeholder="Last name" id="last-name-entry" name="last-name-entry" class="form-input">
        <label for="visitorsCuantity" class="form-label">Number of visitors</label>
        <select id="visitorsCuantity" name="visitorsCuantity" class="form-input">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <label for="guidedTourConfirmation" class="form-label">Want to participate in the guided tour?</label>
        <input type="checkbox" id="guidedTourConfirmation" name="guidedTourConfirmation" class="form-checkbox">
        <button id="schedule-entry" type="button" class="form-button">Reserve an entry</button>
      </form>
    </div>
    <div id="confirmation-form-container" style="display:none;">
      <form id="confirmation-form">
        <div id="reservation-details">
        </div>
        <button id="proceed-to-payment" type="button" class="form-button">Proceed to Payment</button>
        <button id="cancel-reservation" type="button" class="form-button">Cancel</button>
      </form>
    </div>
  </div>
  <div id="change-date-form-container" style="display:none;">
    <form id="change-date-form">
      <label for="new-date-entry" class="form-label">Select a new date:</label>
      <input type="date" id="new-date-entry" name="newDate" class="form-input">
      <button id="submit-new-date" type="button" class="form-button">Confirm</button>
      <button id="cancel-change-date" type="button" class="form-button">Cancel</button>
    </form>
  </div>
  <div class="ticket-title">
    <h1 id="tickets-heading" style="display: none;">Your Tickets</h1>
  </div>
  <div id="tickets-container">
  </div>
  <script type="text/javascript" src="{{url_for('static', filename='js/schedulePage.js')}}"></script>
  <div class="panel-bottom"></div>
  
</body>

</html>