<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/homeMediaQueries.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/homeHeaderToContactForm.css') }}">
{% block video %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe id="linkToZoo" class="embed-responsive-item" src="https://www.youtube.com/embed/sX1XwDFdpdc" 
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-12 col-md-8 mt-3">
      <div class="video-description text-center">
        <h2>Experience the Wonders of Nature</h2>
        <p>Our zoo is a sanctuary for the most diverse species on the planet. Come face-to-face with exotic wildlife from
          all around the world. It's an experience that is both thrilling and educational - perfect for families and wildlife
          lovers. Join us on this adventure and create unforgettable memories!</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
